@font-face{
    font-family: 'data';
    src:url('data.otf');

}
html{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(13, 50, 83);
    color:aliceblue;
}
.bg{
    background-color:rgb(22,22,22);
    position:absolute;
    top:0vh;
    bottom:0vw;
    left:0vw;
    width:100vw;
    height:100vh;
    z-index: -1;

    border-radius:0vw;
}
.footer_logo{
    /* margin-top: 0vh; */
    display:table;
    /* cursor:pointer; */
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(22,22,22);
    padding-left: 2vw;
    padding-right:2vw;
    border-radius:4vw 4vw 0vw 0vw;
    height:10vw;
    transition: all 0.5s;

}
.footer_logo:hover{
    /* transform: translateY(-0.5vw); */
    transition: all 0.5s;
}
.link_flex{
    display: flex;
    flex-flow: row wrap;
    width:45vw;
    justify-content: space-evenly;
    position:absolute;
    column-gap: 1vw;
    top:25vh;
    left:27.5vw;
    z-index: 1;
}
.link_flex > i{
   font-size: 2.5vw;
   /* margin-left: 5vw; */
   transition: all 0.5s;
   color:aliceblue ;
}
#lfi1:hover{
    color:	#f3403a;
    box-shadow: 0vw 0.2vw 0vw 0vw 	#f3403a;
}

#lfi2:hover{
    color:	#bc2a8d;
    box-shadow: 0vw 0.2vw 0vw 0vw 	#bc2a8d;
}

#lfi3:hover{
    color:	#FF0000;
    box-shadow: 0vw 0.2vw 0vw 0vw 	#FF0000;
}
.link_flex > i:hover{
    cursor:pointer;
    color:rgb(72, 167, 255);
    transform: translateY(-0.3vw);
    box-shadow: 0vw 0.2vw 0vw 0vw rgb(72, 167, 255);
    transition: all 0.5s;
}

.upper_flex{
    display:table;
    position:absolute; 
    top:25vh;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    transition: all 0.5s;

}

 .box1 p, .box2 p,.box3 p{
    font-size: 1.5vw;
    cursor:pointer;
    transition: all 0.5s;
}
.box1 p:hover, .box2 p:hover,.box3 p:hover{
    user-select:none;
    transform: translateY(-0.2vw);
    color:rgb(255, 255, 255);
    box-shadow:0px 2px 0px 0.01px rgba(255, 255, 255, 0.915);
    transition: all 0.5s;
}
.box1 h3,.box2 h3,.box3 h3{
    margin-top: 5vw;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7vw;
    cursor:pointer;
}
.box1{
    border-radius: 2vw 2vw 0vw 0vw;
    width:23vw;
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.box1 > p{
    margin-left: auto;
    margin-right: auto;
}
.box2 > h3{
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: auto; */
    text-align: center;
    margin-top: 0vh;
    margin-bottom:1vh;
    top:10vh;
    /* top:0vh; */
    width:50vw;
    display:table;
    /* left:auto; */
    /* right:auto; */
    font-size: 1.7vw;
}

.box2 >iframe {
    border-radius: 1vw;
    margin-top: 15vh;
    width:50vw;
    height:50vh;
    border-style:none;
    background-color:#ffffff00;
}
.box3{
    border-radius: 2vw 2vw 0vw 0vw;
    width:23vw;
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.box3 >p{
    margin-left: auto;
    margin-right: auto;
}

.footer_bottom{
    display:table;
    font-size: 1.3vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:93vh;
    /* z-index:9; */
}

@media only screen and (max-width:600px){
    html{
        background-color:blueviolet;
    }
    .footer_logo{
        display:table;
        margin-top:0vh;
        user-select: none;
        padding-left: 3vh;
        padding-right:3vh;
        margin-left: auto;
        margin-right:auto; 
        bottom:0vw;
        border-radius: 20px;
        height:15vw;
    }
    .link_flex{
        /* width:60vw; */
        position: absolute;
        /* margin-top:0vw; */
        top: 13vh;
        left:0vw;
        margin-bottom: 0vh;
        margin-left: auto;
        margin-right:auto;
        width:100%;
        z-index:9;
    }
    
    .link_flex > i{
        font-size: 6.5vw;
    }
    .bg{
        height:120vh;
        width:100vw;
        /* top:10vw; */
        margin-left:auto;
        margin-right:auto;
    }
    .upper_flex{
    top:22vh;
    /* left:33vw;
    right:0vw;  */
    /* margin-top: 0vh; */
    /* text-align: center; */
    /* left:0% ; */
    /* right:0vw; */
    /* bottom:0vw; */
    width:100% ;
    height:90vh;
    justify-content:space-between;
    flex-direction: column;
    }
    .upper_flex h3{
        font-size:4.5vw;
        margin-top: 0vh;
        margin-bottom:1.5vh;
    }
    .upper_flex p{
        display:block;
        /* margin-left: 0vw;
        margin-right:0vw; */
        /* text-align: center; */
        font-size:4vw;
    }
    .box1{
        height:30vw;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;   
        margin-top:0vw;
        margin-bottom:0vw;
    }
    .box1 > p{
        
        /* margin:0vw; */
        /* text-align: center; */
    }
    .box2{
        opacity:1;
        margin-top: 0vh;
        height:50vh;
        width:80vw;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto; 
    }
    .box2 > iframe{
        opacity:1;
        margin-top: 0vh;
        top:10vh;
        height:40vh;
        width:80vw;
        margin-left: auto;
        margin-right: auto;   
    }
    .box2 > h3{
        position:static;
        width:60vw;
        margin-top: 2.5vh;
    
        /* top:30vw; */
        /* text-align: center; */
        font-size:4.5vw;
    }
    .box3{
        margin-top:0vh;
        margin-bottom: 0vh;
        height:20vh;
        text-align: center;
        width:80vw;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;   
    }
    .box3 > h3{
        /* margin:0vw; */
    }
    .box3 > p{
        /* margin:0vw; */
        /* text-align: center; */
    }
    .box1 > p,.box3 > p{
        
        /* align-items: center; */
    }
    .footer_bottom{
        opacity:80%;
        font-size:3.6vw;
        margin-top:114vh;
    }
}