@font-face{
    font-family: 'data';
    src:url('data.otf');

}
/* .instagram_icon{
    color:#d62976; 
    background: -webkit-linear-gradient(#4f5bd5,#d62976);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
html{
    font-family: data, sans-serif;
    background-color:rgb(13, 50, 83);
    color:aliceblue;
}
.bg{
    background-color:rgb(22,22,22);
    position:absolute;
    top:20vw;
    bottom:0vw;
    left:0vw;
    width:100vw;
    height:28.45vw;
    border-radius:0vw;
}
.footer_logo{
    position:absolute;
    top:6vw;
    left:40vw;
    bottom:0vw;
    right:0vw;
    height:10vw;
}
.link_flex{
    display: flex;
    flex-flow: row wrap;
    width:45vw;
    justify-content: space-evenly;
    position:absolute;
    column-gap: 1vw;
    top:24vw;
    left:27.5vw;
    z-index: 1;
}
.link_flex > i{
   font-size: 3.3vw;
   /* margin-left: 5vw; */
   transition: all 0.5s;
   color:aliceblue ;
}
.link_flex > i:hover{
    cursor:pointer;
    color:deepskyblue;
    transform: translateY(-0.3vw);
    text-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.26);
    transition: all 0.5s;
}

.upper_flex{
    position:absolute;
    top:22vw;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}
.upper_flex > div:hover{
     /* background:-webkit-linear-gradient(90deg,rgb(29, 7, 76) 25%,rgb(1, 27, 68)); */
    background-color: rgb(25,25,25);
}
 p{
    font-size: 1.5vw;
    cursor:pointer;
    transition: all 0.5s;
}
p:hover{
    user-select:none;
    transform: translateY(-0.2vw);
    color:rgb(187, 190, 3);
    box-shadow:0px 2px 0px 0.01px rgb(187,190,3);
    transition: all 0.5s;
}
h3{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7vw;
    cursor:pointer;
}
.box1{
    width:23vw;
    height:24vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.box1 > p{
    margin-left: auto;
    margin-right: auto;
}
.box2{
    margin-top: 10vw;
    width:45vw;
    height:14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box2 > article{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}
.box2 >p{
    margin-left: auto;
    margin-right: auto;
}
.box3{
    width:23vw;
    height:24vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.box3 >p{
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width:1100px),screen and (max-height:650px){
    .link_flex{
        top:25vw;
        left:26vw;
    }
    .link_flex > i{
        font-size: 5vw;
    }
    .bg{
        height:100vh;
        width:100vw;
        top:0vw;
        left:0vw;
    }
    .upper_flex{
        flex-direction: column;
        top:25vw;
        left:38vw;
    }
    
}