@font-face{
    font-family: 'data';
    src:url('data.otf');

}
/* .instagram_icon{
    color:#d62976; 
    background: -webkit-linear-gradient(#4f5bd5,#d62976);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
html{
    font-family: data, sans-serif;
    background-color:rgb(13, 50, 83);
    color:aliceblue;
}
.bg{
    background-color:rgb(22,22,22);
    position:absolute;
    top:50vh;
    bottom:0vw;
    left:0vw;
    width:100vw;
    height:50vh;
    z-index: -1;

    border-radius:0vw;
}
#bgfl{
    margin-top: -5vw;
}
.footer_logo{
    display:table;
    /* cursor:pointer; */
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(22,22,22);
    padding-left: 2vw;
    padding-right:2vw;
    border-radius:4vw 4vw 0vw 0vw;
    height:10vw;
    transition: all 0.5s;

}
.footer_logo:hover{
    /* transform: translateY(-0.5vw); */
    transition: all 0.5s;
}
.link_flex{
    display: flex;
    flex-flow: row wrap;
    width:45vw;
    justify-content: space-evenly;
    position:absolute;
    column-gap: 1vw;
    top:65vh;
    left:27.5vw;
    z-index: 1;
}
.link_flex > i{
   font-size: 3.3vw;
   /* margin-left: 5vw; */
   transition: all 0.5s;
   color:aliceblue ;
}
.link_flex > i:hover{
    cursor:pointer;
    color:rgb(72, 167, 255);
    transform: translateY(-0.3vw);
    box-shadow: 0vw 0.2vw 0vw 0vw rgb(72, 167, 255);
    transition: all 0.5s;
}

.upper_flex{
    display:table;
    position:absolute; 
    top:50vh;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    transition: all 0.5s;

}
.upper_flex > div:hover{
     /* background:-webkit-linear-gradient(90deg,rgb(29, 7, 76) 25%,rgb(1, 27, 68)); */
    background-color: rgb(25,25,25);
    transition: all 0.5s;
}
 .box1 p, .box2 p,.box3 p{
    font-size: 1.5vw;
    cursor:pointer;
    transition: all 0.5s;
}
.box1 p:hover, .box2 p:hover,.box3 p:hover{
    user-select:none;
    transform: translateY(-0.2vw);
    color:rgb(72, 167, 255);
    box-shadow:0px 2px 0px 0.01px rgb(72, 167, 255);
    transition: all 0.5s;
}
.box1 h3,.box2 h3,.box3 h3{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7vw;
    cursor:pointer;
}
.box1{
    border-radius: 2vw 2vw 0vw 0vw;
    width:23vw;
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.box1 > p{
    margin-left: auto;
    margin-right: auto;
}
.box2{
    border-radius: 2vw 2vw 0vw 0vw;
    margin-top: 25vh;
    width:45vw;
    height:24vh;
    display: flex;
  
    flex-direction: column;
    justify-content: space-evenly;
}
.box2 > article{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box2 >p{
    margin-left: auto;
    margin-right: auto;
}
.box3{
    border-radius: 2vw 2vw 0vw 0vw;
    width:23vw;
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.box3 >p{
    margin-left: auto;
    margin-right: auto;
}

#about_us{
position: fixed;
top:0;
left:0;
display:flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
height:100%;
width:100%;
background-color: #141414c7;
z-index: 9;
text-align: center;
}
#about_us>h2{
    font-size: 2vw;
}
#about_us > h4{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.8vw;
}
#about_us > p{
    font-size: 1.3vw;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
}
#about_us > input{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  font-size: 1.5vw;
  border-radius: 0.6vw;
  width:5.5vw;
  height:2.4vw;
  border-style: none;
  background-color: aliceblue;
}
@media only screen and (max-width:600px){
    html{
        background-color:blueviolet;
    }
    .footer_logo{
        display:table;
        user-select: none;
        padding-left: 3vh;
        padding-right:3vh;
        margin-left: auto;
        margin-right:auto; 
        bottom:0vw;
        border-radius: 20px;
        height:10vw;
    }
    .link_flex{
        /* width:60vw; */
        position: absolute;
        margin-top:-45vh;
        margin-bottom: 0vh;
        margin-left: auto;
        margin-right:auto;
        
    }
    .link_flex > i{
        font-size: 6vw;
    }
    .bg{
        height:160vw;
        width:100vw;
        top:10vw;
        margin-left:auto;
        margin-right:auto;
    }
    .upper_flex{
    top:50vw;
    left:33vw;
    right:0vw; 
    bottom:0vw;
    width:35vw;
    height:100vw;
    justify-content: space-evenly;
    flex-direction: column;
    }
    .upper_flex h3{
        font-size:3vw;
    }
    .upper_flex p{
        font-size:2.2vw;
    }
    .box1{
        height:30vh;
        width:35vw;
    }
    .box2{
        margin-top: 0vh;
        height:30vh;
        width:35vw;
        
    }
    .box2>article{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .box2>article>p{
        margin-left: auto;
        margin-right:auto;
    }
    .box3{
        height:30vh;
        width:35vw;
       
    }
    
    #about_us{
    justify-content: space-evenly;
    height:80%;
    }
}